* {
  margin: 0px;
  padding: 0px;
  font-family: sans serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: yellow;
  left:-200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: black;
  list-style:none;
  padding:10px 10px;
  border-bottom: 1px solid;
}

#sidebar .toggle-btn {
  position: absolute;
  left:230px;
  top: 20px;
}
